html {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #EDF1F2;
}

hr {
    width: 100%;
    border-style: solid;
    height: 3px;
    border-width: 0px;
    border-top-width: 2px;
    border-top-color: #4A4A4A;
    border-bottom-width: 1px;
    border-bottom-color: #E8E8E8;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    margin: 10px;
    text-decoration: none;
    color: #5B696E;
    margin-left: 0px;
    margin-bottom: 20px;
}

h2 {
    font-weight: 300;
    font-size: 13px;
    margin: 10px;
    text-decoration: none;
    color: #A4A4A4;
    margin-left: 0px;
}

input {
    padding: 6px;
    width: 250px;
    border-width: 1px;
    border-style: solid;
    border-color: #EDF1F2;
    border-radius: 3px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #AAA;
}

input:focus {
    outline: none;
    background-color: #EDF1F2;
    color: #666;
}

.group {
    background-color: #fff;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: #D6D6D6;
    width: inherit;
    margin: 40px;
    padding: 20px;
}

.submit {
    background-color: #fff;
    color: #5B696E;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: #EDF1F2;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    width: inherit;
    margin: 40px;
    margin-top: 0px;
}

.wrap {
    display: table;
    min-width: 280px;
    max-width: 400px;
    width: 40%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: auto;
}

.wrap > .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
