/**
 * General appearance
 */
body {
	font-family: 'Helvetica Neue', sans-serif;
	margin: 0px;
	padding: 0px;
}

hr {
	width: 100%;
	border-style: solid;
	height: 3px;
	border-width: 0px;
	border-top-width: 2px;
	border-top-color: #5B696E;
	border-bottom-width: 1px;
	border-bottom-color: #E8E8E8;
	margin-top: 20px;
	margin-bottom: 20px;
}

/**
 * Links
 */
a {
	color: #A1A1A1;
	text-decoration: none;
	padding-bottom: 1px;
	border-width: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #A1A1A1;
	border-bottom-style: dotted;
}

.clear {
	border-width: 0px;
	padding-bottom: 0px;
}

header>a {
	text-decoration: none;
	color: #5B696E;
}

.perma {
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	color: #A1A1A1;
	border-width: 0px;
	padding-bottom: 0px;
}

.reply>a {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 16px;
	margin-top: 20px;
	color: #A1A1A1;
}

footer {
	padding: 40px;
}

header {
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
	background-color: #EDF1F2;
	color: #5B696E;
}


input {
	padding: 8px;
	border-width: 0px;
	margin-bottom: 10px;
	width: 100%;
	font-size: 52px;
	font-weight: 300;
	color: #5B696E;
}

input:focus {
	outline: none; 
}

input:disabled {
	background-color: #fff;
}

p {
	font-family: Georgia, serif;
	font-size: 16px;
	margin-top: 20px;
	color: #A1A1A1;
	line-height: 2;
	margin-top: 20px;
	margin-bottom: 40px;
}

p>img {
	width: 100%;
	height: auto;
}

select {
	width: inherit;
	border-radius: 3px; 
	border-color: #EDF1F2;
	padding: 9px;
	color: #5B696E;
}

textarea {
	padding: 8px;
	border-width: 0px;
	margin-bottom: 10px;
	width: 100%;
	font-family: Georgia, serif;
	font-size: 16px;
	color: #A1A1A1;
	line-height: 2;
	font-weight: 300;
	resize: none;
}

textarea:focus {
	outline: none;
}

/**
 * Headers
 */
h1 {
	font-weight: 400;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
}

h2 {
	font-weight: 300;
	font-size: 22px;
	color: #5B696E;
	margin-bottom: 6px;
	text-decoration: none;
}

h3 {
    font-weight: 400;
    font-size: 12px;
}

h4 {
	font-weight: 400;
	font-size: 32px;
	font-style: normal;
	margin-bottom: 10px;
	color: #5B696E;
}

h5 {
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	color: #A1A1A1;
	text-align: center;
}

pre {
	background-color: #EDF1F2;
	padding: 20px;
}

code {
	color: #5B696E;
}

p>code {
	font-size: 12px;
	background-color: #EDF1F2;
	color: #5B696E;
	padding: 2px;
}

/**
 * Buttons
 */
button {
	background-color: #fff;
	color: #5B696E;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	border-color: #EDF1F2;
	padding: 10px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 14px;
	font-weight: 300;
	cursor: pointer;
}

.red {
	border-color: #BF8888;
}

.submit {
	background-color: #fff;
	color: #5B696E;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	border-color: #EDF1F2;
	padding: 10px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 14px;
	font-weight: 300;
	cursor: pointer;
	width: inherit;
}

.small {
	width: inherit;
	float: right;
}

/**
 * Discussion details and content
 */
.content {
	font-family: Georgia, serif;
	font-size: 16px;
	margin-top: 20px;
	color: #D6D6D6;
	line-height: 2;
}

.details {
    height: auto;
    overflow: auto;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 16px;
	color: #A1A1A1;
}

.details>.col {
    float: left;
    width: 25%;
}

.details>.lastcol {
    float: right;
    width: 25%;
}

.details>.bigcol {
    float: right;
    width: 50%;
}

.discussion-preview>a {
	text-decoration: none;
}

/**
 * Images
 */
.small-img {
	height: 16px;
	width: auto;
	float: left;
	margin-right: 5px;
	vertical-align: middle;
	margin-top: 5px;
}

/**
 * Misc
 */
.badge {
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
	border-width: 0px;
	border-radius: 2px;
	background-color: #EDF1F2;
	color: #5B696E;
	font-size: 11px;
	padding: 2px;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.soft-text {
	font-family: Georgia, serif;
	color: #A1A1A1;
	font-size: 16px;
}

.msg {
	background-color: #fff;
	color: #5B696E;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	border-color: #EDF1F2;
	padding: 10px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 20px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.reply {
	margin-bottom: 40px;
}

.wrap {
	min-width: 280px;
	max-width: 600px;
	width: 50%;
	margin: 0 auto;
	padding-top: 50px;
	overflow: auto;
}

.wrap>.menu {
	margin-bottom: 50px;
}